*{
    margin: 0;
    padding: 0;
}
body {
    background: #EEE;
    font-family: Arial, sans-serif;
}
#header {
    padding: 0.5em;
    border-bottom: 5px solid #999;
    height: 65px;
    background: #DDE9FF;
}
.logo {
    position: absolute;
    margin-bottom: 3px;
    top: 0.7em;
    left: 1em;
}
#userCount {
    width: 147px;
    height: 17px;
    right: 1.7em;
    padding: 5px;
    font-weight: bold;
    font-size: 0.8em;
    color: #FFF;
    position: absolute;
    top: 13px;
    text-align: center;
    border: 3px solid #888;
    background-color: #D94D58;
    border-radius: 0.5em;
}
.fbshare {
    position: absolute;
    margin-bottom: 3px;
    top: 0.8em;
    left: 20em;
    padding: 3px;
}
#translator {
    border: 1px solid #888;
    margin-bottom: 3px;
    border-radius: 0.3em;
    padding: 3px;
    position: absolute;
    right: 1.2em;
    top: 43px;
}
.block{
    border: 5px solid #999;
    background: #DDE9FF;
    border-radius: 0.5em;
}
#intro {
    height: 425px;
    margin: 0.7em;
    display: none;
}
#intro img{
    display: block;
    margin: 30px auto;
}
#main-wrap{
    margin: 0.7em;
    /*display: none;*/
}
.rightad {
    float: right;
    height: 520px;
    width: 250px;
}
.col {
    min-width: 300px;
    margin-right: 270px;
}
/*----------- chat----------------*/
#msgWindow{
    position: relative;
}
#messages{
    height: 300px;
    padding: 10px;
    overflow: auto;
    word-wrap: break-word;
}
.sysmsg{
    color: #D94D58;
    padding: 5px;
}
#typMsg{
    display: none;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.controls{
    height: 60px;
    margin: 10px auto;
}
.controls table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.btn-cell{
    width: 100px;
}
.btn{
    width: 100%;
    height: 60px;
}
#msgBox{
    resize:none;
    height: 50px;
    width: 99%;
}

.bottomad {
    height: 90px;
}
#footer{
    clear: both;
    text-align: center;
    font-size: 8pt;
}